#calc{
    width: 450px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.number, .special{
    height: 160px;
    width: 150px;
}
#risultato{
    height: 100px;
    width: 600px;
    border: 1px solid black;
    text-align: center;
}
#speciale{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 148px;
    height: 638px;
}
#main{
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 740px;
}
.operator, .backspace{
    height: 106.3px;
}